apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cluster-volume-snapshot
spec:
  instances: 2

  bootstrap:
    initdb:
      database: app
      owner: app

  # Persistent storage configuration
  storage:
    storageClass: ${E2E_CSI_STORAGE_CLASS}
    size: 1Gi
  walStorage:
    storageClass: ${E2E_CSI_STORAGE_CLASS}
    size: 1Gi

  backup:
    volumeSnapshot:
      className: ${E2E_DEFAULT_VOLUMESNAPSHOT_CLASS}
      snapshotOwnerReference: cluster
