apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cluster-tablespaces-volume-snapshot-restore
spec:
  instances: 2
  primaryUpdateStrategy: unsupervised

  # Persistent storage configuration
  storage:
    storageClass: ${E2E_CSI_STORAGE_CLASS}
    size: 1Gi
  walStorage:
    storageClass: ${E2E_CSI_STORAGE_CLASS}
    size: 1Gi
  tablespaces:
    - name: tbs1
      storage:
        storageClass: ${E2E_CSI_STORAGE_CLASS}
        size: 1Gi
    - name: tbs2
      storage:
        storageClass: ${E2E_CSI_STORAGE_CLASS}
        size: 1Gi

  bootstrap:
    recovery:
      backup:
        name: ${BACKUP_NAME}


