apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cluster-tablespaces
spec:
  instances: 2

  storage:
    size: 1Gi
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}
  walStorage:
    size: 1Gi
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}

  tablespaces:
    - name: atablespace
      storage:
        size: 1Gi
        storageClass: ${E2E_DEFAULT_STORAGE_CLASS}
    - name: anothertablespace
      owner:
        name: dante
      storage:
        size: 2Gi
        storageClass: ${E2E_DEFAULT_STORAGE_CLASS}

  managed:
      roles:
      - name: dante
        ensure: present
        comment: Dante Alighieri
        login: false
        superuser: false
        createdb: true
        createrole: false
        inherit: false
        replication: false
        bypassrls: false
        inRoles:
          - app
      - name: alpha
        ensure: present
        login: false
        superuser: true
        createdb: true
        createrole: false
        inherit: false
        replication: false
        bypassrls: false
        inRoles:
          - app

  backup:
    barmanObjectStore:
      destinationPath: s3://cluster-tablespaces/
      endpointURL: https://minio-service.minio:9000
      endpointCA:
        key: ca.crt
        name: minio-server-ca-secret
      s3Credentials:
        accessKeyId:
          name: backup-storage-creds
          key: ID
        secretAccessKey:
          name: backup-storage-creds
          key: KEY
      wal:
        compression: gzip
      data:
        immediateCheckpoint: true
      tags:
        retention: "30days"
      historyTags:
        retention: "30days"
    retentionPolicy: "30d"
