apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cluster-tablespaces-plugin
spec:
  instances: 2

  storage:
    size: 1Gi
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}
  walStorage:
    size: 1Gi
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}

  tablespaces:
    - name: atablespace
      storage:
        size: 1Gi
        storageClass: ${E2E_DEFAULT_STORAGE_CLASS}
    - name: anothertablespace
      storage:
        size: 1Gi
        storageClass: ${E2E_DEFAULT_STORAGE_CLASS}

  # Archive WALs through plugin-barman-cloud. The referenced ObjectStore is
  # created by the test.
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: cluster-tablespaces-plugin
