# The CODEOWNERS file is used to define individuals or teams that are
# responsible for code in a repository. For details, please refer to
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

* @cloudnative-pg/maintainers

# Component owners
# See https://github.com/cloudnative-pg/governance/blob/main/COMPONENT-OWNERS.md#cloudnative-pg

# OLM
/config/olm-*/ @cloudnative-pg/maintainers @NiccoloFei

# Documentation
/docs/ @cloudnative-pg/maintainers @jsilvela

# Tests
/.github/ @cloudnative-pg/maintainers @jsilvela @NiccoloFei @litaocdl
/hack/ @cloudnative-pg/maintainers @jsilvela @NiccoloFei @litaocdl
/tests/ @cloudnative-pg/maintainers @jsilvela @NiccoloFei @litaocdl

