apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cluster-restored-sas
spec:
  instances: 2

  storage:
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}
    size: 1Gi

  bootstrap:
    recovery:
      database: appdb
      owner: appuser
      secret:
        name: postgresql-user-supplied-app
      source: clusterBackupSas

  externalClusters:
    - name: clusterBackupSas
      barmanObjectStore:
        serverName: pg-backup-azure-blob-sas
        destinationPath: https://${AZURE_STORAGE_ACCOUNT}.blob.core.windows.net/pg-backup-azure-blob-sas/
        azureCredentials:
          storageAccount:
            name: restore-storage-creds-sas
            key: ID
          storageSasToken:
            name: restore-storage-creds-sas
            key: KEY
---
apiVersion: v1
data:
  username: YXBwdXNlcg==
  password: NGxzMDU0ZjM=
kind: Secret
metadata:
  name: postgresql-user-supplied-app
  labels:
    cnpg.io/reload: ""
type: kubernetes.io/basic-auth
