apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: external-cluster-minio
spec:
  instances: 2

  postgresql:
    parameters:
      log_checkpoints: "on"
      log_lock_waits: "on"
      log_min_duration_statement: '1000'
      log_statement: 'ddl'
      log_temp_files: '1024'
      log_autovacuum_min_duration: '1s'

  # Example of rolling update strategy:
  # - unsupervised: automated update of the primary once all
  #                 replicas have been upgraded (default)
  # - supervised: requires manual supervision to perform
  #               the switchover of the primary
  primaryUpdateStrategy: unsupervised

  # Persistent storage configuration
  storage:
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}
    size: 1Gi

  bootstrap:
    recovery:
      # cluster name in source cluster
      source: source-cluster-minio


  externalClusters:
    - name: source-cluster-minio
      barmanObjectStore:
        destinationPath: s3://cluster-backups/
        endpointURL: https://minio-service:9000
        endpointCA:
          key: ca.crt
          name: minio-server-ca-secret
        s3Credentials:
          accessKeyId:
            name: backup-storage-creds
            key: ID
          secretAccessKey:
            name: backup-storage-creds
            key: KEY
