apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgresql-user-supplied
spec:
  instances: 3
  enableSuperuserAccess: true

  postgresql:
    parameters:
      log_checkpoints: "on"
      log_lock_waits: "on"
      log_min_duration_statement: '1000'
      log_statement: 'ddl'
      log_temp_files: '1024'
      log_autovacuum_min_duration: '1s'
      log_replication_commands: 'on'

  bootstrap:
    initdb:
      database: appdb
      owner: appuser
      secret:
        name: postgresql-user-supplied-app-user

  superuserSecret:
    name: postgresql-user-supplied-superuser

  storage:
    size: 1Gi
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}
---
apiVersion: v1
data:
  username: YXBwdXNlcg==
  password: NGxzMDU0ZjM=
kind: Secret
metadata:
  name: postgresql-user-supplied-app-user
type: kubernetes.io/basic-auth
---
apiVersion: v1
data:
  username: cG9zdGdyZXM=
  password: djNyeTU0ZjM=
kind: Secret
metadata:
  name: postgresql-user-supplied-superuser
type: kubernetes.io/basic-auth
