---
apiVersion: v1
stringData:
  password: super
  username: postgres
kind: Secret
metadata:
  labels:
    cnpg.io/reload: "true"
  name: cluster-superuser-cycle-superuser
type: kubernetes.io/basic-auth
---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cluster-superuser-cycle
spec:
  instances: 1
  superuserSecret:
    name: cluster-superuser-cycle-superuser
  enableSuperuserAccess: true
  bootstrap:
    initdb:
      database: standard
      owner: standarduser
  storage:
    size: 1Gi
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}
