apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cluster-disabled-default-services
spec:
  instances: 1
  imageName: "${POSTGRES_IMG}"
  storage:
    size: 1Gi
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}
  managed:
    services:
      disabledDefaultServices: ["ro", "r"]
