cluster-from-restore.yaml
cluster-with-backup-minio.yaml
cluster-with-backup-azure-blob.yaml
minio-pvc.yaml
external-clusters-azure-blob-03.yaml
external-clusters-minio-03.yaml
source-cluster-azure-blob-01.yaml
source-cluster-minio-01.yaml
