apiVersion: postgresql.k8s.enterprisedb.io/v1
kind: Cluster
metadata:
  name: postgresql-storage-class
spec:
  instances: 3

  # Example of rolling update strategy:
  # - unsupervised: automated update of the primary once all
  #                 replicas have been upgraded (default)
  # - supervised: requires manual supervision to perform
  #               the switchover of the primary
  primaryUpdateStrategy: unsupervised

  bootstrap:
    initdb:
      database: app
      owner: app

  # Persistent storage configuration
  storage:
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}
    size: 1Gi
