apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cluster-evict-pod
spec:
  instances: 3

  bootstrap:
    initdb:
      database: app
      owner: app

  storage:
    size: 1Gi
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}

  resources:
    requests:
      memory: "512Mi"
      cpu: "500m"
    limits:
      memory: "1Gi"
      cpu: "1500m"
