apiVersion: postgresql.cnpg.io/v1
kind: Publication
metadata:
  name: publication-declarative
spec:
  name: pub
  dbname: declarative
  owner: app
  cluster:
    name: source-cluster
  target:
    allTables: {}
