apiVersion: postgresql.cnpg.io/v1
kind: ClusterImageCatalog
metadata:
  name: postgresql
spec:
  images:
    - major: 15
      image: ghcr.io/cloudnative-pg/postgresql:15.15-system-trixie
    - major: 16
      image: ghcr.io/cloudnative-pg/postgresql:16.11-system-trixie
