apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: primary-update-restart
spec:
  instances: 3

  postgresql:
    parameters:
      work_mem: "8MB"
      max_connections: "105"
      log_checkpoints: "on"
      log_lock_waits: "on"
      log_min_duration_statement: '1000'
      log_statement: 'ddl'
      log_temp_files: '1024'
      log_autovacuum_min_duration: '1s'
      log_replication_commands: 'on'
      wal_receiver_timeout: '2s'

  # Example of rolling update strategy:
  # - unsupervised: automated update of the primary once all
  #                 replicas have been upgraded (default)
  # - supervised: requires manual supervision to perform
  #               the switchover of the primary
  primaryUpdateStrategy: unsupervised
  primaryUpdateMethod: restart

  bootstrap:
    initdb:
      database: app
      owner: app

  # Persistent storage configuration
  storage:
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}
    size: 1Gi
