# Example of PostgreSQL cluster using a node selector
apiVersion: postgresql.k8s.enterprisedb.io/v1
kind: Cluster
metadata:
  name: postgresql-nodeselector
spec:
  instances: 3

  affinity:
    nodeSelector:
      nodeselectortest: exists

  postgresql:
    parameters:
      log_checkpoints: "on"
      log_line_prefix: '%m [%p]: u=[%u] db=[%d] app=[%a] c=[%h] s=[%c:%l] tx=[%v:%x] '
      log_lock_waits: "on"
      log_min_duration_statement: '1000'
      log_statement: 'ddl'
      log_temp_files: '1024'
      log_autovacuum_min_duration: '1s'

  # Persistent storage configuration
  storage:
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}
    size: 1Gi
