apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgresql-with-extensions
spec:
  instances: 3

  postgresql:
    parameters:
      max_connections: "110"
      log_checkpoints: "on"
      log_lock_waits: "on"
      log_min_duration_statement: '1000'
      log_statement: 'ddl'
      log_temp_files: '1024'
      log_autovacuum_min_duration: '1s'
      log_replication_commands: 'on'
    extensions:
      - name: postgis
        ld_library_path:
          - syslib
        image:
          reference: ghcr.io/niccolofei/postgis:18beta2-master-bullseye # wokeignore:rule=master

  bootstrap:
    initdb:
      database: app
      owner: app

  # Persistent storage configuration
  storage:
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}
    size: 1Gi
  walStorage:
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}
    size: 1Gi
