apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cluster-replica-from-snapshot
spec:
  instances: 1

  # Persistent storage configuration
  storage:
    storageClass: ${E2E_CSI_STORAGE_CLASS}
    size: 1Gi
  walStorage:
    storageClass: ${E2E_CSI_STORAGE_CLASS}
    size: 1Gi

  replica:
    enabled: true
    source: cluster-replica-src

  bootstrap:
    recovery:
      source: cluster-replica-src
      volumeSnapshots:
        storage:
          name: ${REPLICA_CLUSTER_SNAPSHOT_NAME_PGDATA}
          kind: VolumeSnapshot
          apiGroup: snapshot.storage.k8s.io
        walStorage:
          name: ${REPLICA_CLUSTER_SNAPSHOT_NAME_PGWAL}
          kind: VolumeSnapshot
          apiGroup: snapshot.storage.k8s.io

  externalClusters:
    - name: cluster-replica-src

      connectionParameters:
        host: cluster-replica-src-rw
        user: postgres
        dbname: postgres
        port: "5432"
      password:
        name: cluster-replica-src-superuser
        key: password

      barmanObjectStore:
        destinationPath: s3://cluster-backups/
        endpointURL: http://minio-service:9000
        s3Credentials:
          accessKeyId:
            name: backup-storage-creds
            key: ID
          secretAccessKey:
            name: backup-storage-creds
            key: KEY
        wal:
          compression: gzip