apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: replica-switchover-restart-b
spec:
  instances: 3
  primaryUpdateStrategy: unsupervised
  primaryUpdateMethod: restart

  storage:
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}
    size: 1Gi

  backup:
    barmanObjectStore:
      destinationPath: s3://cluster-backups/
      endpointURL: https://minio-service.minio:9000
      endpointCA:
        key: ca.crt
        name: minio-server-ca-secret
      s3Credentials:
        accessKeyId:
          name: backup-storage-creds
          key: ID
        secretAccessKey:
          name: backup-storage-creds
          key: KEY
      wal:
        compression: gzip
      data:
        immediateCheckpoint: true

  bootstrap:
    recovery:
      source: replica-switchover-restart-a

  replica:
    primary: replica-switchover-restart-a
    source: replica-switchover-restart-a

  externalClusters:
  - name: replica-switchover-restart-a
    barmanObjectStore:
      serverName: replica-switchover-restart-a
      destinationPath: s3://cluster-backups/
      endpointURL: https://minio-service.minio:9000
      endpointCA:
        key: ca.crt
        name: minio-server-ca-secret
      s3Credentials:
        accessKeyId:
          name: backup-storage-creds
          key: ID
        secretAccessKey:
          name: backup-storage-creds
          key: KEY
      wal:
        compression: gzip
  - name: replica-switchover-restart-b
    barmanObjectStore:
      serverName: replica-switchover-restart-b
      destinationPath: s3://cluster-backups/
      endpointURL: https://minio-service.minio:9000
      endpointCA:
        key: ca.crt
        name: minio-server-ca-secret
      s3Credentials:
        accessKeyId:
          name: backup-storage-creds
          key: ID
        secretAccessKey:
          name: backup-storage-creds
          key: KEY
      wal:
        compression: gzip
