apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cluster-replica-basicauth
spec:
  instances: 1

  bootstrap:
    pg_basebackup:
      database: appTgt
      owner: userTgt
      source: cluster-replica-src

  replica:
    enabled: true
    source: cluster-replica-src

  storage:
    size: 1Gi
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}

  externalClusters:
  - name: cluster-replica-src
    connectionParameters:
      host: cluster-replica-src-rw
      user: postgres
      dbname: postgres
      port: "5432"
    password:
      name: cluster-replica-src-superuser
      key: password
