apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: failover-delay
spec:
  failoverDelay: 15
  instances: 3

  bootstrap:
    initdb:
      database: app
      owner: app
  storage:
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}
    size: 1Gi
  walStorage:
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}
    size: 1Gi
