apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cluster-replica-tls
spec:
  instances: 2

  bootstrap:
    pg_basebackup:
      source: cluster-replica-src
      database: appSrc
      owner: userSrc

  replica:
    enabled: true
    source: cluster-replica-src

  storage:
    size: 1Gi
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}

  monitoring:
    customQueriesConfigMap:
      - name: monitoring-replica-cluster
        key: queries.yaml

  externalClusters:
  - name: cluster-replica-src
    connectionParameters:
      host: cluster-replica-src-rw
      user: streaming_replica
      sslmode: verify-full
      dbname: postgres
      port: "5432"
    sslKey:
      name: cluster-replica-src-replication
      key: tls.key
    sslCert:
      name: cluster-replica-src-replication
      key: tls.crt
    sslRootCert:
      name: cluster-replica-src-ca
      key: ca.crt
