apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cluster-with-cert-roles
spec:
  instances: 1

  postgresql:
    pg_hba:
      - hostssl all all all cert
    parameters:
      max_connections: "110"

  primaryUpdateStrategy: unsupervised
  primaryUpdateMethod: switchover

  bootstrap:
    initdb:
      database: app
      owner: app

  storage:
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}
    size: 1Gi
  walStorage:
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}
    size: 1Gi
