# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
- bases/postgresql.cnpg.io_clusters.yaml
- bases/postgresql.cnpg.io_backups.yaml
- bases/postgresql.cnpg.io_scheduledbackups.yaml
- bases/postgresql.cnpg.io_poolers.yaml
# +kubebuilder:scaffold:crdkustomizeresource

patchesStrategicMerge:
# [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix.
# patches here are for enabling the conversion webhook for each CRD
#- patches/webhook_in_clusters.yaml
#- patches/webhook_in_backups.yaml
#- patches/webhook_in_scheduledbackups.yaml
#- patches/webhook_in_poolers.yaml
# +kubebuilder:scaffold:crdkustomizewebhookpatch

# [CERTMANAGER] To enable webhook, uncomment all the sections with [CERTMANAGER] prefix.
# patches here are for enabling the CA injection for each CRD
#- patches/cainjection_in_clusters.yaml
#- patches/cainjection_in_backups.yaml
#- patches/cainjection_in_scheduledbackups.yaml
#- patches/cainjection_in_poolers.yaml
# +kubebuilder:scaffold:crdkustomizecainjectionpatch

# the following config is for teaching kustomize how to do kustomization for CRDs.
configurations:
- kustomizeconfig.yaml
