apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: "${CLUSTER_NAME}"
  region: "${AWS_REGION}"
  version: "${K8S_VERSION}"

nodeGroups:
  - name: "${CLUSTER_NAME}"
    instanceType: m5.large
    desiredCapacity: 3
    iam:
      withAddonPolicies:
        ebs: true
        cloudWatch: true

cloudWatch:
    clusterLogging:
        enableTypes: ["all"]
