apiVersion: postgresql.cnpg.io/v1
kind: Database
metadata:
  name: db-declarative
spec:
  name: declarative
  owner: app
  locale: 'sv_SE.iso885915'
  encoding: LATIN9
  cluster:
    name: cluster-with-declarative-databases
