apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cluster-single-instance-pdb
spec:
  instances: 1
  enablePDB: false

  storage:
    size: 1Gi
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}
