apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cluster-autoresize-disruption-3inst
spec:
  instances: 3

  postgresql:
    parameters:
      log_checkpoints: "on"

  primaryUpdateStrategy: unsupervised
  primaryUpdateMethod: switchover

  bootstrap:
    initdb:
      database: app
      owner: app

  storage:
    storageClass: ${E2E_DEFAULT_STORAGE_CLASS}
    size: 2Gi
    resize:
      enabled: true
      triggers:
        usageThreshold: 80
      expansion:
        step: "20%"
        minStep: "1Gi"
        limit: "10Gi"
      strategy:
        maxActionsPerDay: 5
        walSafetyPolicy:
          acknowledgeWALRisk: true
          requireArchiveHealthy: false
