# Refresh the "licenses" directory and create a PR if there are any changes

name: Refresh licenses directory
on:
  workflow_dispatch:
  schedule:
    - cron: "30 0 * * 1"

permissions: read-all

env:
  # renovate: datasource=golang-version depName=golang versioning=loose
  GOLANG_VERSION: "1.25.3"

jobs:
  licenses:
    name: Refresh licenses
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: ${{ env.GOLANG_VERSION }}
          check-latest: true

      - name: Generate licenses
        run: |
          make licenses

      - name: Create Pull Request if licenses have been updated
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7
        with:
          token: ${{ secrets.REPO_GHA_PAT }}
          title: "chore: refresh licenses directory"
          body: "Refresh the licenses directory"
          branch: "license-updater"
          author: "license-updater <license-updater@users.noreply.github.com>"
          add-paths: |
            licenses/**
          commit-message: "chore: refresh licenses directory"
          signoff: true
