# Create a PR for a release when a commit is pushed on a release/v* branch

name: release-pr

permissions: read-all

on:
  push:
    branches:
    - release/v*

jobs:
  pull-request:
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: write
      contents: write
    steps:
      -
        name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      -
        name: Get tag
        run: |
          TAG=${GITHUB_REF##*/v}
          if [[ "${TAG}" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            DEST=$(echo ${TAG} | awk -F '[.]' '{print "release-"$1"."$2}')
          else
            DEST="main"
          fi
          echo "TAG=${TAG}" >> $GITHUB_ENV
          echo "DEST=${DEST}" >> $GITHUB_ENV
      -
        name: Pull Request
        id: open-pr
        uses: repo-sync/pull-request@572331753c3787dee4a6c0b6719c889af9646b81 # v2.12
        with:
          destination_branch: ${{ env.DEST }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pr_body: "Automated PR. Will trigger the ${{ env.TAG }} release when approved."
          pr_label: release
          pr_title: "Version tag to ${{ env.TAG }}"
