# Run the Snyk scanning on the project only when something
# is pushed into main

name: Snyk scanning
on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions: read-all

jobs:
  security:
    if: ${{ github.repository_owner == 'cloudnative-pg' }}
    name: Security scan
    runs-on: ubuntu-24.04
    permissions:
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Static Code Analysis
        uses: snyk/actions/golang@9adf32b1121593767fc3c057af55b55db032dc04 # v1.0.0
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: 'code test'
          args: --sarif-file-output=snyk-static.sarif

      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@6bc82e05fd0ea64601dd4b465378bbcf57de0314 # v4
        with:
          sarif_file: snyk-static.sarif

      - name: Vulnerability scan
        uses: snyk/actions/golang@9adf32b1121593767fc3c057af55b55db032dc04 # v1.0.0
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --sarif-file-output=snyk-test.sarif

      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@6bc82e05fd0ea64601dd4b465378bbcf57de0314 # v4
        with:
          sarif_file: snyk-test.sarif
