name: Manual Trigger for Docs Sync

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release Tag (e.g., 1.28.0)'
        required: true
        default: '1.28.0'

jobs:
  dispatch:
    runs-on: ubuntu-latest
    
    permissions: {}

    steps:
      - name: Dispatch Docs Repository Workflow
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4
        with:
          repository: cloudnative-pg/docs
          token: ${{ secrets.REPO_GHA_PAT }}
          event-type: cnpg-docs-release
          client-payload: '{"tag": "${{ github.event.inputs.version }}"}'
